.speech{
    font-size:15px; 
    color: black; }
.direction{
    font-size: 15px; 
    color:black;
    background-color: lightblue;
}
.direction:hover{
    background-color: black;
    color:azure
}
.name{
    font-size: 20px;
    color:green;
}
.solness{
    font-size: 15px;
    color:crimson;
}
.hilda{
    font-size: 15px;
    color:blueviolet; }
table{
    border: solid;
    border-color: black;
    width: 50%;
}
th, td{
    border: solid 1px;
    border-color: black;
    text-align: center;
    margin: 1em;
    padding: 1em;

}
tr:nth-child(odd){
    background-color: deepskyblue;
}
tr:nth-child(even){
    background-color: darksalmon;
}
.herdal{
    font-size: 15px;
    color: purple;
}
